# Folders
pythonsdk/
__pycache__/
credentials/
robot/__pycache__/

models/yolo11n.pt

# Object Detection files
models/chatbot_detection_labels.rtf
models/efficientdet_lite0.tflite

vision.txt
objects.txt
vision_output.jpg
